@font-face {
    font-family: 'Heebo';
    src: local('Heebo Light'), local('Heebo-Light'),
        url('Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: local('Heebo SemiBold'), local('Heebo-SemiBold'),
        url('Heebo-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: local('Yantramanav Bold'), local('Yantramanav-Bold'),
        url('Yantramanav-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

